In [ ]:
# Hold Shift and press Enter to run a cell

### Welcome to our Jupyter Notebook

This is our jupyter notebook and it will help us learn a bit about Pandas and do some live interactive coding.

This text is written in a cell. There are two types of cells , markdown and code.

**Markdown** is a computer language for creating formatted text. The cell you are currently reading is a markdown cell. 

**Code** cells run the text through an interpreter, since this is a Python notebook a Python interpreter is used. Jupyter now supports notebooks for Python, Julia and R. 

If we tried to run this as a code cell we would get a bunch of syntax errors.

#### Work flow
The work flow for this workshop will be mainly self contained - in a perfect world I would hope that this notebook could lead someone to an understanding of Pandas basics without any supervision. 

The participant should read through the cells, always running markdown cells immediatly and code cells after the content has been read.

Many of the coding cells are left uncompleted and it is up to you to fill them out. I tried my best to almost always lead you to the answer directly from the markdown cells above each exercise.

This notebook is not supposed to be overly challenging - it is meant to act like a tour guide on a leasurly stroll through Pandas. Pointing out the quirks and capabilities of this beautiful and useful Python library.

#### Getting started
So lets get into it! The first thing we are going to do is import a couple libraries into our coding environment.

This is environment is started fresh when a notebook is opened and it is called a kernel. 

Every time we run a code block it will execute that code into the kernel and hold it in active memory.

So an import made now will remain in the environment. The same goes for variable names and function definitions. 

In fact, that is what happens when an import is made - source code for. The pandas codebase is ~22MB. According to a coders community on reddit, a MB generally holds ~20,000 lines of code. Projects like this have a lot of documentation and testing scripts which usually account for a bit more than half of the codebase. After a bit of arithmatic it looks like that import command is running around 200,000 lines of code and keeping that all in memory! Computers are amazing!

In [ ]:
# Imports 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

#### A land before pandas

Before we jump into Pandas let's take a look at what people did before it. 

Organizing data using dictionaries.

In [ ]:
# Here is an example dictionary - run the cell and load it into memory.

fruit_dictionary = {
    "names" : ['lemon', 'banana', 'apple' , 'strawberry'],
    "color" : [['yellow'], ['yellow'], ['red', 'green'], ['red']],
    "edible_seeds" : ['no', 'yes', 'no', 'yes']
}

Dictionaries are broken up into key-value pairs.
    
    dict = { key : value }

Use the print function to see the whole dictionary:
    
    print(dict)

In [ ]:
# Print the dictionary using the print() function and the proper variable name.

# your code here:
print(fruit_dictionary)

We can use the built in key() and value() methods to see the contents of the dictionary.

In [ ]:
# using a for loop to print the keys persent in fruit_dictionary
for key in fruit_dictionary.keys():
    print(key)

In [ ]:
# Try to print out the values of the dictionary!

# your code here:
for value in fruit_dictionary.values():
    print(value)

### Converting to a DataFrame
Use the pd.DataFrame() function to convert the dictionary into a DataFrame.

    df = pd.DataFrame(dictionary)

Note: df is a popular variable name for the DataFrame you are working with in memory. But it is just a variable and you can name it nearly anything you'd like.

In [ ]:
# Turn the fruit_dictionary object into a DataFrame. Then print it out and lmk what you think.

# your code here:
df = pd.DataFrame(fruit_dictionary)
df

### Moving on to more interesting data
Kaggle is a machine learning and data science community that share tons of great resources and hosts exciting competitions. 

We downloaded a fun dataset from them.

I hope you like movies!

#### Loading in data

Datasets are often saved as comma-seperated value (.csv) files.

Use the pandas read_csv function to load the .csv file as a dataframe.

    df = pd.read_csv('foo.csv')

Two things to note:
    
    - Even though it is poor practice we are going to overwrite our fruit dataframe and give this one variable name df.
    
    - The file is located in the same directory as this notebook and is called "imdb_movies.csv" - remember to put the file name in quotes or python will think it is a variable.

In [ ]:
# load the file "imdb_movies.csv" to the variable named df.

# your code here:
df = pd.read_csv('../../imdb_movies.csv')

#### Just a peak
You can look at the first n rows of a dataframe by using the .head() method. 

    df.head(n)

Where n is an integer value, the default is 5

In [ ]:
# Look at the top ten columns and see if how many of the movies you recognize.

# your code here
df.head(4)

Only see a 9 at then end of the columns - remember pandas, true to Python, is index base 0!

#### Columns and Index
The DataFrame equivilent to keys and pairs are columns and index.

The index of the dataframe represents the rows. For some dataframes the index is a label and for others it is just a number, like in our case. 

Print the columns and indecies of the DataFrame in the following way:

    df.columns
    df.index

In [ ]:
# Print out the columns and index of the DataFrame below.
# Note that in Jupyter notebooks it will only print out the last line of code
# To print out multiple lines use the print() function

# your code here
print(df.columns)
print(df.index)

The output of the columns and index methods behave like lists.

We can use the len() function to see the number or columns and rows we have.

In [ ]:
# Print the length of the columns and rows using len()

# your code here
print("This is the number of columns: ", len(df.columns))
print("This is the number of rows: ", len(df.index))

#### Exploring Columns

We can print out a specific column of the dataframe by writing its name next to the dataframe variable is square brackets similar to indexing through lists or arrays. 

    df["column_name"]

Use the cell below to try isolating certain columns. If you forgot the specific names you can always print them out again. Another option would be to use chose a column by number as follows:

    df[df.columns[0]]

This is checking the first column, remember that the output of the .columns methods behaves like a list.

In [ ]:
# Isolate columns using the column-wise indexing. 

# your code here
df['names']
df[df.columns[0]]

#### Exploring Indecies 
There are two major indexing attributes that come build-in to dataframe objects: loc and iloc. 

The difference being that loc is label-based and iloc is integer-based.

Show the content at a specific index:

    df.loc["index_name", "column_name"]
    df.iloc["index_num", "column_number"]

Note: When indexes are integer based, like in our case, use an integer index even while using loc. 

Also Note: If a column name or number is missing, all values will be displayed.

In [ ]:
# Print out the budget for the 10th entry of the df
# Use both loc and iloc 

# your code here
print(df.loc[9, "budget_x"])
print(df.iloc[9, 9])

#### Slicing 
What if we want to show multiple rows or multiple columns?

For this we can use slicing which works very similarly to slicing in python lists and arrays. 

There is a distinction worth making and that is that loc is **inclusive**  whereas iloc, like slicing elsewhere in python, is **exclusive**

This is logical because we want to include the labeled columns which we write down.

Slicing works by using colons (:) do signal all intermediate values between indecies. 

    df.iloc[4:10, 0:3]

This would denote rows [4,5,6,7,8,9] and columns [0,1,2].

A column by itseld would give all available indecies:

    df.iloc[:,0]

This will show all of the rows in the first column.

In [ ]:
# Run cell

df.iloc[4:10, 0:3]

A few other tips for slicing syntax:

    Using negative numbers will take indecies starting from the end.
    
        df.iloc[-1], will take show the last row. Unfortunately, negative indexing is not supported with loc
    
    A lone ':' before or after an integer index will take all availbale indecies before or after respectively:
        
        df.iloc[:5] will show indecies 0 - 5
        df.iloc[5:] will show indcies 5 until the end.

In [ ]:
# Print out the names (column 0 - but you know how to check that right!) first 10 and the last 10 rows

# your code here
print(df.loc[:10, "names"], df.iloc[-10:, 0])

In [ ]:
# For those interested this is a work around to using negative indexing while also using loc.

# I works by supplying a list with the index 'names' and then providing those as locations for loc.
last_ten_idx = df.index[-10:]
print(last_ten_idx)

df.loc[last_ten_idx, "names"]

#### List of indecies 
You can also use lists to specifiy which indecies we want to see:

    rows = [4, 7, 9]
    cols = [3, 6]

    df.iloc[rows, cols]

This will output the defined rows and columns. 

Note that they dont need to be in order

In [ ]:
# Output the collection of rows and columns above using loc instead of iloc!

rows = [4, 7, 9]
cols = [3, 6]

print(df.iloc[rows, cols])

# your code here:
rows = [4, 7, 9]
cols = [df.columns[3], df.columns[6]]

print(df.loc[rows, cols])

####  A short investigation of data types (dtypes) in pandas
Pandas handles different types of data differently, be them strings, integers, floats, etc.

This happens on a column to column basis. We can check the identity of each column by checking its dtypes attribute:
    
    df.dtypes

This will print out the column name and its corresponding datatype.

In [ ]:
# Run the command and observe the output
df.dtypes

### Data types
One of the reasons that pandas is so useful is its ability to handle and organize many different types of data in the same table. 

#### Objects
Items in the object datatype can be strings, floats, lists or NaNs all within the same column. Again, columns are predefined as an optimization tool within pandas to best allocate resources.

While this is convenient, using columns classified as objects unnecessarily could negatively impact the performace of your code when working with larger datasets.

####  Copy in order to preserve
Up until this point we have been observing the df from many different angles without actually changing it. 

For this upcoming exercise we will use the copy method to clone a subset of the df so that we can manipluate it and learn more about how they behave. 

    df_subset_copy = df.loc["subset"].copy()

The way pd.DataFrames behave is different from the way lists behave. 

In a list, when you define a variable as a subset of the list, it automatically copies that. The new variable is disconnected to list in everyway:

    example_list = [1,2,3,4,5]
    new_list = example_list[0:2]
    new_list[0] = 6

The above code will run without a problem - example_list was defined, new_list was defined as the first two values of example_list, then new_list was changed to that the first value was changed to a 6 instead of a 1. 

The same thing done for a pd.DataFrame would raise an error. 

    df_row = df.iloc[0]
    df_row["names"] = "better_movie_name"

This example would raise an error. Pandas wants to avoid people making changes to the dataframe. It trys to promote leanring from the data more than changing it.

For this reason we use the copy method to insure that we are well aware of what we are doing before we change the data. 

You can overwrite the df by redefining it.

    df = df.iloc[1:10, 1:10]

    or even

    df = "Where did my dataframe go!"

While there are some guardrails around over writing the DataFrame, there are many instances where it is the right thing to do!

In [ ]:
# Here you can see the error for yourself

example_list = [1,2,3,4,5]
new_list = example_list[0:2]
print("new_list before edit: ", new_list)
new_list[0] = 6
print("new_list after edit: ", new_list)

df_row = df.iloc[0]
df_row["names"] = "better_movie_name"

In [ ]:
# define df_row as a copy of df.iloc[0] and make the edit, then print the series out to make sure it worked

# your code here
df_row = df.iloc[0].copy()
df_row["names"] = "better_movie_name"

df_row["names"]

#### Adding new data

The last skill we need to learn before we can learn a bit more about how DataFrames handle dtypes how to add more data to a pd.DataFrame.

When attaching a series to a DataFrame, loc is actually the best way to do it. 

That is because loc takes the index number to be the name of the df, all we have to do is add the number of the new row and the define it as the series:

    df_copy.loc[name_of_newest_row] = new_row

Caution - this is writing over data into the DataFrame, be careful what you add and where.

Additionally, the index label doesnt need to be a number. DataFrame rows can assume names which are strings as well, so remember to remain consistent!

### The exercise!
For this little demonstration I want you to carry out the following tasks:

#### 1:
Create a copy of the df to work with.
#### 2:
Define a new_row variable which is a copy of a row from the dataset.
#### 3:
Redefine the recorded 'score' of that row to be a string spelling out the numbered score:
    
    73 -> "seventy three"
#### 4:
Add the new_row onto the end of the copied data frame.
#### 5:
Compare the dtypes of df and df_copy and tell me what happened :)

In [ ]:
# Create a copy of the df to work with.

# your code here
df_copy = df.copy()

In [ ]:
df_copy.iloc[-1]

In [ ]:
# Define a new_row variable which is a copy of a row from the dataset.

# your code here
new_row = df.iloc[0].copy()

In [ ]:
# Redefine the recorded 'score' of that row to be a string spelling out the numbered score.

# your code here
new_row["score"] = "seventy three"

In [ ]:
# Append the new_row onto the end of the copied data frame.

# your code here
df_copy.loc[len(df.index)] = new_row

In [ ]:
# Compare the dtypes of df and df_copy and tell me what happened :)

print(df.dtypes)
print(df_copy.dtypes)

#### The column type changed!
It may have been a round about way to show it, but note how adding a new piece of data of a different type to the dataset can change the way Pandas handles **all** the data in the column.

This wouldnt be a big problem here but if you are working with larger datasets, adding a row with a float instead of an int could cost a lot in overhead without any gain!

#### Mathematical Operations
This is where things get fun! 

Here are a couple functions which will help you answer the questions below:

    sum(): Compute the sum of values.
    mean(): Compute the mean of values.
    median(): Compute the median of values.
    std(): Compute the standard deviation.
    var(): Compute the variance.
    min(): Find the minimum value.
    max(): Find the maximum value.
    count(): Count the number of non-NA/null observations.

The methods work in the following way:

    mean_col = df["column_name"].mean()

Remember that putting a column name in square brackets gives all available indecies for the columns.

Could you print the same values using loc?

In [ ]:
# What is the sum total budget and revenues for the film industry as per our dataset in billion dollars?
billion = 1000000000

# your code here
print(df["budget_x"].sum()/billion)
print(df["revenue"].sum()/billion)

Woah!!! Big money in film!

To make these values easier to read lets change the units of the budget and revenue to million dollars instead of dollars.

We can do this by creating a new column called budget_m and revenue_m.

In [ ]:
# Create budget and revenue columns in units of a million dollars
df["budget_m"] = df["budget_x"]/1000000
df["revenue_m"] = df["revenue"]/1000000

In [ ]:
# What is the lowest and highest budgets and revenues 

# your code here
print(df["budget_m"].min())
print(df["budget_m"].max())

print(df["revenue_m"].min())
print(df["revenue_m"].max())

In [ ]:
# What is greater, the mean or the median value for budget? What's the difference?

# your code here
df["budget_m"].mean() > df["budget_m"].median()
(df["budget_m"].mean() - df["budget_m"].median())

In [ ]:
# What about for revenue?

# your code here
df["revenue_m"].mean() > df["revenue_m"].median()
(df["revenue_m"].mean() - df["revenue_m"].median())

Did you see that disparity!?

Lets continue exploring to see if we can learn something about the film industry here.

In [ ]:
# What is the mean budget and revenues for films in the DataFrame

# your code here
print(df["budget_m"].mean())
print(df["revenue_m"].mean())

In [ ]:
# How about standard deviation (std)? 

# your code here
print(df["budget_m"].std())
print(df["revenue_m"].std())

#### Feature engineering
Combining multiple columns together to make new features is a common practice in data analysis. It is a powerful way to gain new insight into data. 

Lets do a simple example of this and make a column called "profit"!

    profit = revenue - budget

In [ ]:
# Make a column called profit and add it to the DataFrame.

# your code here
df["profit"] = df["revenue_m"] - df["budget_m"]

In [ ]:
df["profit"]

In [ ]:
df["revenue_m"][1]

#### Masking
Creating masks is a convinient way to filter through data. 

By creating a condition and running over the data, we can create a mask of True/False statements.

Condtions in python are:

    greater-than: >
    less-than: <
    equal: ==
    not equal: !=
    greater-than equal: >=
    less-than equal: <=

Lets see how they work in action!

In [ ]:
import numpy as np

# Create an example array
ex = np.array([0,1,2,3,4,5,6])
print("This is the example array: ", ex)

# Set a condition, greater-than or equal to three
mask = ex >= 3
print("This is the mask: ", mask)

# use the mask to filter through the results
print("These are the values in the array which pass the condition: ", ex[mask])

Pandas is built to handle masks as well!

In [ ]:
# search for films that profited over 250 million dollars

# define the mask
mask = df["profit"] > 250

# We can use the count method to see how many films managed to earn that much
df.loc[mask].count()

Side note about count:

Count will count all of the valued results per column. 

You might have noticed that the "crew" column is the only one with fewer results after count was run. This shows that there is some missing data - it happens all the time!

With that, it's your turn!

Lets see how many films lost money.

In [ ]:
# Determine how many films netted a negative profit

# your code here

#### Datetime
Time is an important factor in determaning trends.

Thankfully our dataframe has a "date_x" column which has the information on when the movie was released. 

What is a bit unforunate is that the information comes in the form of a string.

Pandas is ready for that!

#### pd.to_datetime()

The pd.to_datetime() function turns strings that meet a certain criteria into Timestamp objects. 

     pd.to_datetime("date_column")

This will output a series containing datetime objects.

In [ ]:
# Use the pd.to_datetime function to define a new column in the DataFrame called "date_time" containing Timestamped objects

# your code here
df["date_time"] = pd.to_datetime(df["date_x"])

Lets go one step further and make seperate columns for the year and month!

In [ ]:
# Define lists to store values
year = []
month = []

# loop through Timestamp data
for date in df["date_time"]:
    # Seperate year and month attributes and store appropriatly
    year.append(date.year)
    month.append(date.month)

# create new columns in df 
df["year"] = year
df["month"] = month

#### Lets use the dates! 

Can you tell me the mean budget for movies in 2022 and 2023.

Hint: 
Remember that the condition for equal is ==

In [ ]:
# Mean budget for 2022 and 2023

# your code here
mask = df["year"] == 2023
avg_budget_23 = df["budget_m"][mask].mean()

mask = df["year"] == 2022
avg_budget_22 = df["budget_m"][mask].mean()

print("Average film budget in 2022: ", avg_budget_22)
print("Average film budget in 2023: ", avg_budget_23)

#### To many masks

Wow, over a 40% increase!! Interesting, the avg film really got more expensive.

I want to know these states for every year of data we have available!

But this is too slow, there must be a better way to run these queries and calculations. 

#### Groupby

groupby() is that exact method.

Here is how it works. 

    We create what is called a groupby object by running the groupby method on a DataFrame and passing a column_name as the argument:
        df.groupby("year")

This is almost like a DataFrame where the new indecies are the **unique values** of the column_name argument passed to the method.

So note: this will only really work well with somewhat categorical data.

    Next we run aggregation methods or agg() on this groupby object.
        df.groupby("year").agg('mean')

    We can specify which columns we want to work on the same way we would in a DataFrame object:
        df.groupby("year")["budget_m"].agg('mean')

    We can also run multiple aggregation functions at once and have those be the new column names!
    We do this by passing multiple arguments to agg() in the form of a list:
        df.groupby("year")["budget_m"].agg(['sum','count','mean'])

If a single column is not specified and multiple aggregation methods are used we will get a DataFrame which has a heirarchical index structure. This is not the worst thing but we will avoid it for now.

In [ ]:
# Run the command listed above where we group the data by the year of their release date

# name this new dataframe budget_by_year

# your code here
budget_by_year = df.groupby("year")["budget_m"].agg(['sum','count','mean','std'])

#### Making groupby your friend

Groupby is a powerful function which at times can be a bit confusing. 

I really recommend using your own words to describe what the function is doing.

Please! Think of another question which would be best answered by groupby and make the plot. 

Believe me, it is worth it to play with this function to really have it stick. 

#### apply

For some inspiration run the cell below which creates a column called grade which uses the score to create an +A to F grade category.

We can use the apply method to run a function on all values in the series:
    
    df.[column_name].apply(function_name)

In [ ]:
# Function to assign grades based on score
def assign_grade(score):
    if score >= 97:
        return '+A'
    elif score >= 93:
        return 'A'
    elif score >= 90:
        return '-A'
    elif score >= 87:
        return '+B'
    elif score >= 83:
        return 'B'
    elif score >= 80:
        return '-B'
    elif score >= 77:
        return '+C'
    elif score >= 73:
        return 'C'
    elif score >= 70:
        return '-C'
    elif score >= 67:
        return '+D'
    elif score >= 63:
        return 'D'
    elif score >= 60:
        return '-D'
    else:
        return 'F'

In [ ]:
# Use the apply function on the score column to create a new grade column
df["grades"] = df["score"].apply(assign_grade)

In [ ]:
# ProTip! 

# You can use lambda function within apply - lets use that to show a more elegant method to replace that nasty for-loop we used on the dates

# Lambda are small annonymous functions. They work as: lambda input : output. Apply will funnel in all of the dates as input.
df["year"] = df["date_time"].apply(lambda x : x.year)
df["month"] = df["date_time"].apply(lambda x : x.month)

# This was rushed so don't worry if you want to leave it for now.

In [ ]:
# Here is some code to make a new genre column which is a bit easier to work with
def genre_to_list(genre):
    if type(genre) != str:
        return "-"
    return genre.replace(',\xa0' , ' ').split()

df["genre_list"] = df["genre"].apply(genre_to_list)

In [ ]:
# Make you're own groupby object - and sorry that the genre column is difficult to work with

# your code here

### Plotting

Visualizing data is an integral part of data analysis and often leads to insights which would have been difficult to recognize without it. 

Lucky for us, python has lots of tools to help us in making beautiful graphs, figures and plots.

In [ ]:
# Taking the index of the groupby DataFrame will give us the x variable
x = budget_by_year.index
x

In [ ]:
# Plotting script for line plot

def plot_y_by_x(x, y, std, x_label="year", y_label="mean budget"):
    # Set the style of the plot
    sns.set(style="whitegrid")

    # Create the plot
    plt.figure(figsize=(12, 6))

    # Plot mean budget
    sns.lineplot(x=x, y=y, marker='o', label=y_label, color='b')

    # Fill the area between mean_budget Â± std_budget
    if std:
        plt.fill_between(x,
                 y - std,
                 y + std,
                 color='b', alpha=0.2, label='Std Dev')

    # Customize the plot
    plt.title(f'{y_label} by {x_label}')
    plt.xlabel(x_label)
    plt.ylabel(y_label)
    plt.legend()

    # Display the plot
    plt.show()

In [ ]:
# Lets first plot the average price of a movie by year. We can also include the standard deviarion 
y = budget_by_year["mean"]
std = budget_by_year["std"]
plot_y_by_x(x, y, std)

In [ ]:
y = budget_by_year["sum"]
plot_y_by_x(x, y, 0, y_label="sum budget")

In [ ]:
# Can you use the plotting script to plot the number of films released per year

# your code here
y = budget_by_year["count"]
plot_y_by_x(x,y,0,y_label="count")

Woah - looks a lot like the plot of the total money spent!

Well, that makes sense given the average cost per film is pretty constant over the years.

#### Other alternatives to masks
Sometimes you want to make queary on using multiple conditions.

This can be done using masks using the '&' symbol:

    mask = (condition_1) & (condition_2)